numpy
pandas
matplotlib
scikit-learn
tensorflow
keras
seaborn
shap
xgboost
lightgbm
bokeh
scipy
nltk
ipykernel
panel
lxml
openpyxl
torch
transformers
sentencepiece
fastapi
streamlit
folium
optuna
keras-tuner