numpy
pandas
matplotlib
scikit-learn==1.5.2
tensorflow
keras
seaborn
shap==0.46.0
xgboost==2.1.4
lightgbm
bokeh
scipy
nltk
ipykernel
panel
lxml
openpyxl
torch
transformers
sentencepiece
fastapi
streamlit
folium
optuna
keras-tuner
joblib
uvicorn
requests